---
import { Icon } from "astro-icon/components";
import Btn from "../Btn.astro";

interface Props {
  costo: number;
  version: string;
  stripe: string;
  tipo: string;
}
const { costo, version, stripe, tipo } = Astro.props;
const url = Astro.url.origin;
const tipos = ["lux", "clasica", "esencial"];
---

<div class="grid pantalla">
  <div class="flex" id="bloqueventas">
    <div class="info">
      <h3>
        <b
          >Nvitaci칩n de {tipo} / <span>
            {version === "clasica" ? "clasica" : version}</span
          ></b
        >
      </h3>
     <div id="compra">
      <Btn liga={stripe} texto={`Comprar $${costo} MXN.`} clases="btn-oscuro" claro={false} blank={true}  >
        <Icon name="mdi:add-shopping-cart" size={25} />
      </Btn>
     </div>


      <div id="whats">
        <a
          href=`https://api.whatsapp.com/send/?phone=5217551132468&text=%20me%20contacto%20desde%20nvitaciones.com%20me%20interesa%20la%20invitaci칩n%20de%20${tipo}%20${version}`
          target="_blank"
          ><Icon name={"whatsapp"} size={40} /> Cont치ctanos por whatsapp</a
        >
      </div>
    </div>

    <div id="version">
      <h4>Conoces otras versiones de <b>Nvitaciones de {tipo}:</b></h4>
      {
        tipos.map((ver) =>
          ver !== version ? (
            <div class="item">
              <Btn
                liga={`${url}/${tipo}/nvita-${tipo}-${ver}?id=2`}
                texto={`Nvitaci칩n ${ver}`}
                clases="btn-bordes"
                claro={true}
                blank={false}
              >
                <Icon name="mdi:chevron-right" size={20} />
              </Btn>
            </div>
          ) : null
        )
      }
    </div>
  </div>
</div>

<!-- <script>
  const ua = navigator.userAgent;
  let whats = "";
  if (/Mobile/i.test(ua)) {
    whats = "api.whatsapp.com";
  } else {
    whats = "web.whatsapp.com";
  }
</script> -->

<style lang="scss">
  @use "../../estilos/_variables.scss" as *;


  #bloqueventas {
    background-color: $primario;
    margin: $margen 0;
    padding: $margen $margen-cel;
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: space-evenly;
    position: relative;
    .info {
      text-align: center;
    }
    .item {
      padding: 0.5rem;
    }
    #version {
      flex: 1 0 100%;
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
    }
    h3 {
      justify-content: center;
      font-family: "Playwrite CU", serif;
      font-weight: 100;
      text-align: center;
      padding: 0;
      margin: 0;
      font-size: clamp(1.5rem, 2.5vw, 3rem);
      span {
        color: $fondo;
        font-weight: bold;
      }
      b {
        color: $acento !important;
      }
    }

    h4 {
      color: wheat;
      font-family: $fuenteB, sans-serif;
      flex: 1 0 100%;
      justify-content: center;
      text-align: center;
      line-height: 2rem;
    }
  }
  #compra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0;
  }
  #whats {
    border-bottom: solid 1px $fondo;
    a {
      display: inline-flex;
      gap: 1rem;
      color: wheat;
      margin: 1rem;
      text-decoration: underline;
    }
   
  }
  svg{
    fill: $fondo;
  }
</style>
