---
import { Icon } from "astro-icon/components";
import Anchor from "./Anchor.astro"

interface Props {
  costo: number;
  version: string;
  stripe: string;
  tipo: string;
}
const { costo, version, stripe, tipo } = Astro.props;
const url = Astro.url.origin;
const tipos = ["lux", "clasica", "esencial"];	

---

<div class="grid pantalla">
  <div class="flex" id="bloqueventas">
    <div class="info">
      <h3><b>Nvitaci칩n</b> de {tipo} / <span> {version === "clasica" ? "clasica" : version}</span></h3>
      <Anchor
      url={stripe}
      id={"estilo"}
      clases={"large"}
      conBorde={false}
      redondo={false}
      sombra={true}
      tema={"secundario"}
      texto={`Comprar $${costo} MXN.`}
      />

      <div id="whats">
        <a href=`https://api.whatsapp.com/send/?phone=5217551132468&text=%20me%20contacto%20desde%20nvitaciones.com%20me%20interesa%20la%20invitaci칩n%20de%20${tipo}%20${version}` target="_blank"><Icon name={"whatsapp"} size={40} /> Cont치ctanos por whatsapp</a>
      </div>
    </div>
      
    <div id="version">
      <h4>Conoces otras versiones de <b>Nvitaciones de {tipo}:</b> </h4>
      {
        tipos.map(
          (ver) => (
            ver !== version ? (
              <div class="item">

              <Anchor
                url={`${url}/${tipo}/nvita-${tipo}-${ver}?id=2`}
                id={"estilo"}
                clases={"large"}
                conBorde={true}
                redondo={false}
                sombra={false}
                tema={"primario"}
                texto={`Nvitaci칩n ${ver}`}
                />
                </div>
            ) : null
          )
        )
      }
    </div>


  </div>
  </div>
</div>
<!-- <script>
  const ua = navigator.userAgent;
  let whats = "";
  if (/Mobile/i.test(ua)) {
    whats = "api.whatsapp.com";
  } else {
    whats = "web.whatsapp.com";
  }
</script> -->

<style lang="scss">
  @use "../../estilos/_variables.scss" as *;
  #bloqueventas {
    background-color: var(--secundario);
    margin: $margen 0;
    padding: $margen $margen-cel;
    color: var(--primario);
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: space-evenly;
    position: relative;
    .info{
        text-align: center;
    }
    .item {
      padding: .5rem;
    }
    #version {
      flex: 1 0 100%;
      flex-wrap: wrap;
      justify-content: center;
      display: flex;
    }
    h3 {
      span {
        color:var(--acento);
        font-weight: bold;
      }
    //   flex: 1 0 100%;
    //   display: flex;
      justify-content: center;
      font-family: Montserrat, sans-serif;
      font-weight: 100;
      color: var(--primario);
    //   flex: 1 0 100%;
      text-align: center;
      padding: 0;
      margin: 0;
      font-size: clamp(1.5rem, 2.5vw, 3rem);
    }

    h4 {
      font-family: Montserrat, sans-serif;
      flex: 1 0 100%;
      justify-content: center;
      text-align: center;
      line-height: 2rem;
    }
  }
  #whats {
    border-bottom: solid;
    a {
      vertical-align: middle;
      color: var(--primario);
      margin: 1rem;
      text-decoration: underline;
 
    }
    svg {
      vertical-align: middle;
      margin-right: .5rem;
    }
  }
</style>
