---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/bodas/Layout.astro";
import Hero from "../../components/bodas/Hero";
import Footer from "../../components/bodas/Footer.astro";

export async function getStaticPaths() {
  const bodas = await getCollection("bodas", ({ data }) => {
    return !data.draft;
  });
  return bodas.map((boda) => ({
    params: { slug: boda.slug },
    props: { boda },
  }));
}
interface Props{
    boda: CollectionEntry<"bodas">
}
type boda = CollectionEntry<"bodas">;
const { boda } = Astro.props;
const base = new URL(Astro.url.pathname, Astro.site);
// const{Content} = await boda.render()
const Nfecha = new Date(boda.data.fecha);
const fecha = Nfecha.toLocaleDateString(["es-MX"], {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric", 
  })

  const{Content} = await boda.render()
---

<Layout title=`Invitación de boda de ${boda.data.novios}` url={base.toString()}>
    <Hero
  nombres={boda.data.novios}
  fecha={fecha}
  client:load
  />
  <Content />
  <section class="grid contenido">
    <Footer ruta={base} />
  </section>
  

</Layout>


