---
import { Icon } from "astro-icon/components";

interface Props {
  icono: string;
  titulo: string;
  array?: Array<any>;
  fecha?: Date;
  codigo?: string;
}
const { icono, titulo, array, fecha, codigo } = Astro.props;

const formattedFecha = fecha
  ? new Date(fecha).toLocaleDateString("es-MX", {
      day: "2-digit",
      month: "long",
      year: "numeric",
    })
  : null;
---

<div class="carta">
  <div class="icono">
    <Icon name={icono} size={40} />
  </div>
  <h3 class="overlay">{titulo}</h3>
  {fecha ? <p>{formattedFecha}</p> : <slot />}

  {array ? array.map((item) => <li>{item}</li>) : <slot />}

  {codigo ? <p>{codigo}</p> : <slot />}
</div>


<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  const carta = gsap.utils.toArray(".carta");
  gsap.registerPlugin(ScrollTrigger);

  carta.forEach((cart: HTMLElement, id) => {
    let mm = gsap.matchMedia();

    mm.add("(min-width: 800px)", () => {
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: cart as HTMLElement,
          start: "top 60%",
          end: "bottom 80%",
          scrub: true,
        },
      });
      // desktop setup code here...
      tl.from(cart as HTMLElement, {
        ease: "power2.out",
        x: -20,
        opacity: 0,
        delay: id * 0.3,
      });
      tl.from(cart.children, {
        opacity: 0,
        y: -30,
      });
    });

    // mobile setup code here...
    mm.add("(max-width: 799px)", () => {
      const tl = gsap.timeline({
        scrollTrigger: {
          trigger: cart as HTMLElement,
          start: "top 100%",
          end: "top 50%",
          scrub: true,
        },
      });
      tl.from(cart as HTMLElement, {
        ease: "power2.out",
        y: 100,
        opacity: 0,
      });
      tl.from(cart.children, {
        opacity: 0,
        y: -30,
        stagger: 0.2,
      });
    });
  });
</script>
