---
interface Props {
  mama?: string;
  papa?: string;
  fotopapas?: string;
  labels?: {
    blessing?: string;
    mother?: string;
    father?: string;
  };
}

const { mama, papa, fotopapas, labels = {} } = Astro.props;

const l = {
  blessing: labels.blessing || "CON LA BENDICIÓN DE",
  mother: labels.mother || "Mi Madre",
  father: labels.father || "Mi Padre",
};
---

<div id="padres">
  <div class="bande">
    <span>{l.blessing}</span>
    <div class="conte">
      <ul class="padre">
        {
          mama && (
            <li>
              <h3>{l.mother}</h3>
              {mama}
            </li>
          )
        }
        {
          papa && (
            <li>
              <h3>{l.father}</h3>
              {papa}
            </li>
          )
        }
        {
          fotopapas ? (
            <div class="padre">
              <img src={fotopapas} alt="Foto de los padres de la quinceañera" />
            </div>
          ) : (
            ""
          )
        }
      </ul>
    </div>
  </div>
</div>
