---
import Checkbox from "./Checkbox.astro";
---

<dialog id="editar-invitado-dialog">
  <div class="formulario">
    <form id="editar-formu">
      <h2>Edita al invitado</h2>
      <label for="nombre">Nombre del invitado</label>
      <input
        type="text"
        name="nombre"
        required
        placeholder="Nombre que aparecerá en la invitación"
      />
      <label for="pases">Numero de pases</label>
      <input
        type="number"
        name="pases"
        required
        placeholder="Asignar numero de pases"
      />
      <label for="mesa">Numero de mesa</label>
      <input
        type="number"
        name="mesa"
        placeholder="Asignar numero de mesa (opcional)"
      />
      <label for="whatsapp">Numero de whatsapp</label>
      <input
        type="tel"
        name="numeroWhats"
        placeholder="Numero de whatsapp del invitado"
      />
      <label for="tipoInvitacion">Tipo de invitación</label>
      <select name="tipoInvitacion" id="tipoInvitacion">
        <option value="Familiar">Familiar</option>
        <option value="Individual">Individual</option>
        <option value="Grupal">Grupal</option>
      </select>

      <div class="check">
        <Checkbox
          checked={false}
          inputId={Math.random()}
          name="confirmado"
          titulo="¿Ya confirmo sus asistencia?"
        />

        <Checkbox
          checked={false}
          inputId={Math.random()}
          titulo="Invitado importante"
          name="vip"
        />

        <Checkbox
          checked={false}
          inputId={Math.random()}
          titulo="Invitación enviada"
          name="InvitacionEnviada"
        />

        <Checkbox
          checked={false}
          inputId={Math.random()}
          titulo="No asistirá"
          name="noAsiste"
        />
      </div>

      <input type="submit" value="Editar invitado" />
    </form>
  </div>
  <a href="#" id="cerrar-dialog-editar">X</a>
</dialog>

<script>
  import sanitize from "sanitize-html";
  const dialoged = document.querySelector(
    "#editar-invitado-dialog"
  ) as HTMLFormElement;

  // query selectors
  const addFormEdit = document.querySelector(
    "#editar-formu"
  ) as HTMLFormElement;
  const dialogeditar = document.querySelector(
    "#editar-invitado-dialog"
  ) as HTMLDialogElement;

  // form submit
  addFormEdit.addEventListener("submit", async (e) => {
    e.preventDefault();

    const nombreInput = addFormEdit.querySelector(
      "input[name='nombre']"
    ) as HTMLInputElement;
    const nombre = nombreInput.value.trim();

    if (!nombre) {
      alert("El nombre no puede estar vacío.");
      return;
    }

    const pases = parseInt(
      (addFormEdit.querySelector("input[name='pases']") as HTMLInputElement)
        .value,
      10
    );

    if (isNaN(pases) || pases < 1) {
      alert("El número de pases debe ser un número positivo.");
      return;
    }

    const refere = dialoged.dataset.refedit;

    try {
      const formData = new FormData(addFormEdit);
      const requestBody = {
        usuarioId: refere,
        nombre: sanitize(formData.get("nombre") as string),
        pases: sanitize(formData.get("pases") as string),
        mesa: sanitize(formData.get("mesa") as string),
        numeroWhats: sanitize(formData.get("numeroWhats") as string),
        confirmado: formData.get("confirmado") === "on",
        vip: formData.get("vip") === "on",
        InvitacionEnviada: formData.get("InvitacionEnviada") === "on",
        noAsiste: formData.get("noAsiste") === "on",
        tipoInvitacion: sanitize(formData.get("tipoInvitacion") as string),
      };

      const request = await fetch(`/api/${refere}.json`, {
        method: "PATCH",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(requestBody),
      });

      if (!request.ok) {
        const errorText = await request.text();
        throw new Error(
          `Error en la solicitud: ${request.status} ${request.statusText}. Respuesta: ${errorText}`
        );
      }

      let res;
      try {
        res = await request.json();
      } catch (err) {
        throw new Error("La respuesta del servidor no es JSON válido.");
      }

      if (res.success) {
        addFormEdit.reset();
        dialogeditar.close();
        location.reload();
      } else {
        throw new Error(res.message || "Ocurrió un error desconocido.");
      }
    } catch (e) {
      console.error("Error en la solicitud:", e);
      alert(e.message);
    }
  });
  const dialogEditar = document.querySelector(
    "#editar-invitado-dialog"
  ) as HTMLDialogElement;
  const closeDialogBtn = document.getElementById(
    "cerrar-dialog-editar"
  ) as HTMLButtonElement;
  closeDialogBtn.addEventListener("click", () => dialogEditar.close());
</script>

<style lang="scss">
  @import "../../estilos/_variables.scss";
  dialog {
    border: none;
    border-radius: $margen-cel;
    padding: $margen-cel;
    width: 100%;
    max-width: 70%;
    text-align: center;
    @include cel {
      max-width: 90%;
      padding: $margen-min;
      form {
        width: 90%;
      }
    }
    @extend .sombra;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;

    label {
      flex: 1 0 70%;
      text-align: left;
      font-weight: bold;
      color: $acento;
    }
    input,
    select {
      border-radius: 5px;
      width: 100%;
      margin: 0.5rem 0;
      padding: 0.6rem;
    }
  }

  button,
  input[type="submit"] {
    background-color: $acento;
    border-radius: 5px;
    color: #fff;
    border: none;
    display: inline-block;
    text-align: center;
    padding: 0.3rem 0.8rem;
    font-weight: bold;

    svg {
      vertical-align: middle;
      margin-right: 0.2rem;
    }
    @include cel {
      margin-top: 0.5rem;
    }
  }
  #check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: $margen-min;
    gap: 1.5rem;
  }
  #cerrar-dialog-editar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: $acento;
    border-radius: 100px;
    color: #fff;
    border: none;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.8rem;
    font-weight: bold;
    @extend .sombra;
  }
</style>
