---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../layouts/quince/Layout.astro";
import Hero from "../../components/quince/Hero";
import Footer from "../../components/quince/Footer.astro";

export async function getStaticPaths() {
  const quinces = await getCollection("quince", ({ data }) => {
    return !data.draft;
  });
  return quinces.map((quince) => ({
    params: { slug: quince.slug },
    props: { quince },
  }));
}
interface Props {
  quince: CollectionEntry<"quince">;
}
type quince = CollectionEntry<"quince">;
const { quince } = Astro.props;
const base = new URL(Astro.url.pathname, Astro.site);
// const{Content} = await quince.render()
const Nfecha = new Date(quince.data.fecha);
const fecha = Nfecha.toLocaleDateString(["es-MX"], {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});

const { Content } = await quince.render();
---

<Layout
  title=`Invitación de quince de ${quince.data.novios}`
  url={base.toString()}
>

    <Hero nombres={quince.data.novios} fecha={fecha} client:load />

  <Content />
  <section class="grid contenido">
    <Footer ruta={base} />
  </section>
</Layout>
