---
//export const prerender = true;
import Banner from "../components/Banner.astro";
import Caracteristicas from "../components/Caracteristicas.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Btn from "../components/Btn.astro";
import Footer from "../components/Footer.astro";
import BannerGeneral from "../components/BannerGeneral.astro";
import { Icon } from "astro-icon/components";
import Faq from "../components/Faq.astro";
import CaracteristicasGrid from "../components/CaracteristicasGrid.astro";
import Testimonios from "../components/Testimonios.astro";
import OfertaTiempo from "../components/OfertaTiempo.astro";
import MostrarNvitaciones from "../components/Pagos/MostrarNvitaciones.astro";
---

<!-- <Layout title="Invitaciones de bodas, 15 a침os, fiestas y eventos digitales."> -->
<Layout
  title="Invitaciones Digitales F치ciles | RSVP y Gesti칩n de Invitados - Nvitaciones"
>
  <Hero
    description="<b>Las Nvitaciones son faciles de enviar</b> y con todo lo que necesitas: confirmaciones de asistencia, galer칤as, etc. Y un pr치ctico panel para organizar e invitar sin esfuerzo"
  />
  <div class="grid contenido">
    <div id="choro">
      <div id="info">
        <div class="bande">
          <h2>Invitar, no tiene que ser complicado.</h2>
          <p>
            Invitaciones en papel que se pierden, listas de invitados dif칤ciles
            de gestionar, invitados perdidos... <b> <br />춰Basta de estr칠s!</b>
          </p>
          <p>
            Con nuestras <b>invitaciones personalizadas</b> digitales, registra invitados,
            edita y env칤a en segundos. Haz que tu evento sea 칰nico y libre de complicaciones.
          </p>
          <Btn
            liga="#precios"
            texto="Ver ejemplos"
            clases="btn-bordes-oscuro "
            claro={false}
          >
            <Icon name="mdi:envelope-heart-outline" size={25} />
          </Btn>
        </div>
      </div>
      <div id="video-home">
        <div id="play">
          <Icon name="mdi:play-circle" size={70} />
        </div>
        <video
          preload="metadata"
          poster="/video-poster.webp"
          loop
          id="video-home-cel"
        >
          <source
            src="https://res.cloudinary.com/dpnzqg5mx/video/upload/v1737046817/pantalla-sitio_web.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>

    <!-- <Ofertashome
    encabezado="<b>Obt칠n un 30% </b>de descuento"
    texto="Durante el mes de febrero <b>aplica el cup칩n: AMOR30</b> a la hora de adquirir tu invitaci칩n de boda o 15 a침os."
    small="Solo aplica para pagos en l칤nea, promoci칩n valida hasta el 28 de febrero."
    img="/promo.webp"
    /> -->
  </div>    <MostrarNvitaciones dondeEstoy="home" />
  
  <div class="grid contenido">
    <div id="conteCaracteristicas">
      <Caracteristicas
        encabezado="f치cil"
        texto="Agrega tus <b>invitados</b> de manera f치cil."
        icono="mdi:account-multiple-add-outline"
        fondo="/fondo-nvite-caracteristicas-3.png"
        colorBg="#FFF1E1"
      />

      <Caracteristicas
        encabezado="r치pido"
        texto="Envia tu invitaci칩n con un <b>solo clic.</b>"
        icono="mdi:message-text-fast"
        fondo="/fondo-nvite-caracteristicas-2.png"
        colorBg="#FFF1E1"
      />

      <Caracteristicas
        encabezado="칰til"
        texto="<b>Organiza</b> todo en un solo lugar."
        icono="mdi:bookmark-check"
        fondo="/fondo-nvite-caracteristicas-4.png"
        colorBg="#FFF1E1"
      />

      <Caracteristicas
        encabezado="칰nico"
        texto="Invitaciones con <b>estilo.</b>"
        icono="mdi:vector-bezier"
        fondo="/fondo-nvite-caracteristicas-4.png"
        colorBg="#FFF1E1"
      />
    </div>
  </div>

  <!-- <section class="grid contenido">
      <div id="video">
        <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/cV49wo2c5fU?si=c95LYo30Mkdnu-1b&controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
    <div id="videoCel">
      <iframe
        width="315"
        height="560"
        src="https://www.youtube.com/embed/UBu6HRRfCdA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </section> -->

  <CaracteristicasGrid
    matriz={[
      {
        imagen: "/home-invitaciones-digitales-caracteristicas-nvitaciones.webp",
        titulo: "Olv칤date del <span>desorden</span> al invitar",
        texto:
          "<b>Te damos herramientas para gestionar tus invitados</b>, ten control total de tus invitados con el panel de invitados de Nvitaciones.com",
        txtbtn: "Ver Nvitaciones",
        icono: "mdi:tag-arrow-up-outline",
        enlace: "#precios",
      },
      {
        imagen: "mdi:infinity",
        titulo: "Invitaciones ilimitadas",
        texto: "Personalizadas con nombre y pases asignados.",
        enlace: "#",
      },
      {
        imagen: "mdi:whatsapp",
        texto: "Recibe mensajes de tus invitados desde la invitaci칩n",
      },
      {
        imagen: "mdi:infinity-box",
        texto: "Invitados <span>confirmados</span> en tiempo real",
      },
      {
        imagen: "mdi:infinity-box",
        texto: "total <span>control</span> de tus pases",
      },
    ]}
  />

  <!-- <Galeriaslide /> -->
  <div class="grid contenido">
    <BannerGeneral
      encabezado="Recibes con tu <b>invitaci칩n digital</b>"
      texto={`
    <ul>
    <li><b>Trato personalizado</b> durante y despu칠s de tu compra</li>
    <li>Recibes tu invitaci칩n, con los datos de tu evento <b> 2 d칤as h치biles</b> despu칠s de tu compra</li>
    <li>
    Acceso a un <b>panel de invitados</b> para tener control total de tus
    invitaciones
    </li>
        <li>Tu invitaci칩n, sin importar la versi칩n, <mark>tiene env칤os ilimitados</mark></li>
        <li>
        Tu invitaci칩n queda en l칤nea <b>hasta 1 semana</b> despu칠s de la fecha de tu
        evento
        </li>
        <li>
        Tu invitaci칩n <b>se ver치 bien en celulares y pantallas</b> de laptops o pc
        </li>
        </ul>
        <small>*Panel de invitados no aplica en la versi칩n "basic"</small>
        <br>
        `}
      tema="terciario"
      icono="mdi:deal"
      urlImagen="../assets/home/gale/recibes.webp"
      margenAbajo={true}
    >
      <Btn
        liga="#formu"
        texto="Obt칠n tu invitaci칩n"
        clases="btn-oscuro"
        claro={true}
        blank={false}
      >
        <Icon name="bag" size={25} />
      </Btn>
    </BannerGeneral>
  </div>

  <!-- <div class="grid contenido">
    <Recibes />
  </div> -->

  <section class="grid contenido">
    <div id="conteCaracteristicas">
      <Caracteristicas
        encabezado="1: contacto"
        texto="Resolvemos tus dudas y te guiamos <b>personalmente en el proceso</b>."
        icono="mdi:message-processing-outline"
        fondo="/fondo-nvite-caracteristicas.png"
        colorBg="#FFF1E1"
        ;
      />

      <Caracteristicas
        encabezado="2: pago"
        texto="Paga en <b>  Oxxo o con tu tarjeta bancaria. </b>"
        icono="mdi:payment"
        fondo="/fondo-nvite-caracteristicas-2.png"
      />

      <Caracteristicas
        encabezado="3: datos"
        texto="<b>Un dise침ador te contacta </b> para iniciar con tu invitaci칩n."
        icono="mdi:connect-without-contact"
        fondo="fondo-nvite-caracteristicas-3.png"
        colorBg="#FFF1E1"
        ;
      />

      <Caracteristicas
        encabezado="4: entrega"
        texto="Listos para invitar a familia y amigos."
        icono="mdi:package-variant-closed-delivered"
        fondo="fondo-nvite-caracteristicas-4.png"
      />
    </div>
  </section>

  <div class="grid contenido">
    <OfertaTiempo
      encabezado="<b>Aprovecha 15% </b>de descuento"
      texto="Oferta relampago. <b>aplica el cup칩n: NVITAME15</b> a la hora de adquirir tu invitaci칩n de boda o 15 a침os."
      small="Solo aplica para pagos en l칤nea, <b>la oferta se acaba:</b>"
      horasValidez={25}
      img="/promo.webp"
      porcentaje={15}
    />
  </div>

  <div id="precios" class="grid contenido">
    <Banner dondeEstoy="home" />
  </div>

  <section class="grid contenido">
    <BannerGeneral
      encabezado="Confirmaci칩n de asistencia"
      texto="Tus invitados sabr치n exactamente cuantos d칤as faltan para el evento y desde la invitaci칩n podr치n <b>confirmar su asistencia</b>"
      tema="primario azul"
      icono="mdi:archive-clock-outline"
      urlImagen="../assets/home/gale/confirmacion.webp"
    >
      <Btn
        liga="/bodas"
        texto="Bodas"
        clases="btn-claro"
        claro={true}
        blank={false}
      >
        <Icon name="mdi:find-love" size={25} />
      </Btn>

      <Btn
        liga="/invitaciones-quince"
        texto="XV a침os"
        clases="btn-oscuro"
        claro={true}
        blank={false}
      >
        <Icon name="mdi:find-love" size={25} />
      </Btn>
    </BannerGeneral>
    <BannerGeneral
      encabezado="Invitaci칩n digital con M칰sica"
      texto="Agrega <b>tu canci칩n favorita</b> y los detalles de tu evento"
      tema="secundario "
      icono="mdi:music"
      izquierda={true}
      urlImagen="../assets/home/gale/musica.webp"
    />

    <BannerGeneral
      encabezado="Invitaci칩n digital con Frase de amor y galer칤a de fotos"
      texto="Expresa con palabras lo que sientes en una <b>frase animada</b> y muestra hasta 6 fotos en una galer칤a de im치genes"
      tema="primario"
      icono="mdi:image-plus"
      urlImagen="../assets/home/gale/frase.webp"
    />
    <!-- <BannerGeneral
      encabezado="Administra tus invitados"
      texto="De manera <b>f치cil y eficiente</b>, agrega, edita, env칤a y controla todo desde el panel de invitados"
      tema="secundario"
      izquierda={true}
      icono="mdi:book-edit"
      urlImagen="../assets/home/gale/panel.webp"
    /> -->
    <div class="flex">
      <div class="cartaBase2">
        <h2>Invitaci칩n personalizada para cada invitado</h2>
        <p>
          Haz que tus invitados se sientan especiales desde el primer momento. <b
            >Cada invitaci칩n llevar치 el nombre del invitado o su familia,</b
          > creando una experiencia 칰nica y personal para tu evento."
        </p>
        <img
          id="decor"
          src="/decoracion-muestra-invitacion-digital-nvite.webp"
          alt="decoracion invitacion"
          loading="lazy"
          decoding="async"
        />
        <img
          class="imaCelular"
          src="/muestra-invitacion-digital-nvite-personalizada.webp"
          alt="invitacion personalizada"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="cartaBase2">
        <h2>Gestiona tus pases</h2>
        <p>
          <b>Tus invitados podr치n confirmar en tiempo real</b> su asistencia directamente
          desde su invitaci칩n digital, d치ndote tranquilidad y el control que necesitas
          para organizar tu evento."
        </p>
        <img
          src="/muestra-invitacion-digital-nvite-confirmacion-whatsapp.webp"
          alt="invitacion con confirmaci칩n de asistencia"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>

    <!-- carcateristicas -->

    <div id="conteCaracteristicas">
      <Caracteristicas
        encabezado="Invitaci칩n con mapas"
        texto="Tus invitados sabr치n exactamente como llegar."
        icono="mdi:map-check"
        fondo="/fondo-nvite-caracteristicas.png"
      />

      <Caracteristicas
        encabezado="Invitaci칩n con mesa de regalos"
        texto="Sugiere que te gustar칤a de regalo."
        icono="mdi:gift-open"
        fondo="/fondo-nvite-caracteristicas-2.png"
      />

      <Caracteristicas
        encabezado="Invitaci칩n con itinerario"
        texto="Lista cada momento importante de tu evento"
        icono="mdi:gift-open"
        fondo="fondo-nvite-caracteristicas-3.png"
      />

      <!-- <Caracteristicas
        encabezado="animac칩n"
        texto="Agrega hasta 6 fotos."
        icono="/ico-nvite-fotos.svg"
        fondo="fondo-nvite-caracteristicas-4.png"
      /> -->
    </div>
    <Btn
      liga="#formu"
      texto="Obt칠n tu invitaci칩n"
      clases="btn-oscuro centrado"
      claro={false}
    />
  </section>
  <Testimonios />

  <!-- <div id="cumples" class="grid pantalla-izq">
    <BannerQuince />
  </div> -->
  <div class="grid contenido">
    <Faq />
  </div>
  <section class="grid contenido">
    <div class="flex">
      <div class="fondo-formu">
        <div class="bande">
          <h2>Obt칠n tu invitaci칩n</h2>
          <p>
            <b>Cont치ctanos</b>, para resolver tus dudas o iniciar el proceso
            para que obtengas tu invitaci칩n.
          </p>
          <small
            >Usa el formulario para hablar con nuestra asistente de <b
              >whatsapp</b
            ></small
          >
        </div>

        <div id="formu">
          <form>
            <!-- <h3>
          <img src="/whatsapp.png" alt="logo whatsapp">
          <b>whatsapp</b></h3> -->
            <p><b>Aida</b>, nuestra asistente,resolver치 tus dudas 游땕</p>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Tu nombre" />
            <label for="fecha">Fecha del evento</label>
            <input type="date" name="fecha" id="fecha" />
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="agrega un email valido"
            />

            <Btn
              liga="#"
              id="empezar"
              texto="<b>Hola</b> Aida"
              clases="desactivado, btn-oscuro"
              claro={false}
              blank={true}
            >
              <Icon name="mdi:whatsapp" />
            </Btn>
            <!-- <button type="submit" id="empezar" class="desactivado">Empezemos</button> -->
          </form>
        </div>
      </div>
    </div>
  </section>
  <Footer />
</Layout>

<script>
  const mivideoHome = document.getElementById(
    "video-home-cel"
  ) as HTMLVideoElement;
  const play = document.getElementById("play") as HTMLDivElement;
  console.log(mivideoHome);

  play.addEventListener("click", playPause);

  function playPause() {
    if (mivideoHome.paused) mivideoHome.play();
    else mivideoHome.pause();
  }
</script>
