---
//export const prerender = true;
import Banner from "../components/Banner.astro";
import Caracteristicas from "../components/Caracteristicas.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Btn from "../components/Btn.astro";
import Footer from "../components/Footer.astro";
import BannerGeneral from "../components/BannerGeneral.astro";
import { Icon } from "astro-icon/components";
import Faq from "../components/Faq.astro";
import CaracteristicasGrid from "../components/CaracteristicasGrid.astro";
import Testimonios from "../components/Testimonios.astro";
import OfertaTiempo from "../components/OfertaTiempo.astro";
import MostrarNvitaciones from "../components/Pagos/MostrarNvitaciones.astro";
import Anchor from "../components/comunes/Anchor.astro";
import Logos from "../components/Logos.astro";
import Slider from "../components/Slider.astro";
---

<!-- <Layout title="Invitaciones de bodas, 15 a침os, fiestas y eventos digitales."> -->
<Layout
  title="Invitaciones Elegantes y Modernas para Bodas, XV A침os, Cumplea침os | RSVP y control de Invitados"
  description="Invitaciones elegantes digitales en M칠xico. Env칤a por WhatsApp, confirma asistencias y gestiona tus invitados f치cilmente con Nvitaciones."
>
  <Hero
    description="Env칤a tu invitaci칩n personalizada y <b>conoce en tiempo real qui칠n va a tu boda o XV a침os</b>."
  />
  <div class="grid contenido">
    <Logos />
    <div id="choro">
      <h2>Sin invitados <b>no hay fiesta</b></h2>
      <p>
        Pero invitarlos de la manera tradicional quita tiempo y es caro, <b>Nvitaciones te lo hace f치cil</b>, invita en minutos y lleva el control de tus invitados
      </p>
    </div>
    <!-- <Btn
            liga="#nvitaciones"
            texto="Ver Nvitaciones"
            clases="btn-bordes-oscuro "
            claro={false}
          >
            <Icon name="mdi:envelope-heart-outline" size={25} />
          </Btn>
          -->
  </div>
</Layout>



<!-- <div class="grid contenido">
   <OfertaTiempo
     encabezado="<b>Aprovecha 15% </b>de descuento"
     texto="Oferta imperdible. <b>aplica el cup칩n: NVITAME15</b> a la hora de adquirir tu invitaci칩n de boda o 15 a침os (versi칩n Lux)."
     small="Solo aplica para pagos en l칤nea, <b>la oferta se acaba:</b>"
     horasValidez={25}
     img="/promo.webp"
     porcentaje={15}
   />
 </div> -->

<!-- <section class="grid contenido">
      <div id="video">
        <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/cV49wo2c5fU?si=c95LYo30Mkdnu-1b&controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
    <div id="videoCel">
      <iframe
        width="315"
        height="560"
        src="https://www.youtube.com/embed/UBu6HRRfCdA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </section> -->



<div class="grid contenido">

  <Slider />
</div>

<div id="nvitaciones">
  <MostrarNvitaciones dondeEstoy="home" />
</div>

<!-- <div class="grid contenido">
  <div id="conteCaracteristicas">
    <Caracteristicas
      encabezado="Invita"
      texto="Agrega tus <b>invitados</b> de manera f치cil."
      icono="mdi:account-multiple-add-outline"
      fondo="/fondo-nvite-caracteristicas-3.png"
      colorBg="#FFF1E1"
    />

    <Caracteristicas
      encabezado="r치pido"
      texto="Env칤a tu invitaci칩n con un <b>solo clic.</b>"
      icono="mdi:message-fast-outline"
      fondo="/fondo-nvite-caracteristicas-2.png"
      colorBg="#FFF1E1"
    />

    <Caracteristicas
      encabezado="칰til"
      texto="<b>Organiza</b> todo en un solo lugar."
      icono="mdi:sticker-check-outline"
      fondo="/fondo-nvite-caracteristicas-4.png"
      colorBg="#FFF1E1"
    />

    <Caracteristicas
      encabezado="칰nico"
      texto="Invitaciones con <b>estilo.</b>"
      icono="mdi:vector-bezier"
      fondo="/fondo-nvite-caracteristicas-4.png"
      colorBg="#FFF1E1"
    />
  </div>
</div> -->

<div id="precios" class="grid contenido">
  <Banner dondeEstoy="home" />
</div>

<CaracteristicasGrid
  matriz={[
    {
      imagen: "/home-invitaciones-digitales-caracteristicas-nvitaciones.webp",
      titulo: "Invita y <span>sorprende</span>",
      texto:
        "Invitaciones modernas con las herramientas que te dar치n el control y la tranquilidad",
      txtbtn: "쯗udas?",
      icono: "mdi:account-question-outline",
      enlace: "#faq",
    },
    {
      imagen: "mdi:infinity",
      titulo: "Sin l칤mites",
      texto: "Sin cargos extras por n칰mero de invitados",
      enlace: "#",
    },
    {
      imagen: "mdi:account-multiple-check-outline",
      texto: "Anima a los invitados mostrando los asistentes confirmados",
    },
    {
      imagen: "mdi:infinity-box",
      texto: "<span>Consulta</span> qui칠n s칤 va a tu fiesta",
    },
    {
      imagen: "mdi:infinity-box",
      texto: "<span>asigna</span> pases por invitaci칩n",
    },
  ]}
/>




<Testimonios />

<div class="grid contenido" id="faq">
  <Faq />
</div>


<!-- <Galeriaslide /> -->
<div class="grid contenido">
  <BannerGeneral
    encabezado="Recibes con tu <b>invitaci칩n digital</b>"
    texto={`
    <ul>
    <li><b>Trato personalizado.</b></li>
    <li>Tu invitaci칩n,<b> 2 d칤as h치biles</b> despu칠s del env칤o de tus datos.</li>
    <li>
   <b>Panel de invitados</b>, controla tus invitaciones.
    </li>
    <li>
    Tu invitaci칩n en l칤nea hasta <b> 1 semana</b> despu칠s de terminado el evento.
    </li>
    <li><mark>Env칤os ilimitados.</mark></li>
       
        </ul>
        <small>*Panel de invitados no aplica en la versi칩n "basic"</small>
        <br>
        `}
    tema="terciario"
    icono="mdi:deal"
    urlImagen="../assets/home/gale/recibes.webp"
    margenAbajo={true}
  >
    <Btn
      liga="#faq"
      texto="쯊ienes m치s dudas?"
      clases="btn-oscuro"
      claro={true}
      blank={false}
    >
      <Icon name="mdi:comment-question-outline" size={25} />
    </Btn>
  </BannerGeneral>
</div>


<section class="grid contenido">
  <div id="conteCaracteristicas">
    <Caracteristicas
      encabezado="contacto"
      texto="te guiamos <b> en el proceso</b>."
      icono="mdi:message-processing-outline"
      fondo="/fondo-nvite-caracteristicas.png"
      colorBg="#FFF1E1"
      ;
    />

    <Caracteristicas
      encabezado="pago"
      texto="paga en <b>OXXO o con tu tarjeta bancaria. </b>"
      icono="mdi:payment"
      fondo="/fondo-nvite-caracteristicas-2.png"
      colorBg="#FFF1E1"
    />

    <Caracteristicas
      encabezado="detalles"
      texto="Env칤anos los <b> detalles de tu evento. </b>"
      icono="mdi:connect-without-contact"
      fondo="fondo-nvite-caracteristicas-3.png"
      colorBg="#FFF1E1"
      ;
    />

    <Caracteristicas
      encabezado="entrega"
      texto="En <b>2 d칤as</b> o menos"
      icono="mdi:package-variant-closed-delivered"
      fondo="fondo-nvite-caracteristicas-4.png"
      colorBg="#FFF1E1"
    />
  </div>
</section>


<section class="grid contenido" id="formulario">
  <div class="flex">
    <div class="fondo-formu">
      <div class="bande">
        <h2>Empieza a planear tu evento</h2>
        <p>
          <b>쯊ienes dudas o pedidos especiales?</b>
          <br /> cont치ctanos y hagamos que tu invitaci칩n sea perfecta <br />游땕
        </p>
      </div>

      <div id="formu">
        <form>
          <!-- <h3>
          <img src="/whatsapp.png" alt="logo whatsapp">
          <b>whatsapp</b></h3> -->

          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" placeholder="Tu nombre" />
          <label for="fecha">Fecha del evento</label>
          <input type="date" name="fecha" id="fecha" />
          <label for="evento">Tipo de evento</label>
          <select name="evento" id="evento">
            <option value="Boda">Boda</option>
            <option value="Xv">XV a침os</option>
          </select>

          <Btn
            liga="#"
            id="empezar"
            texto="<b>Enviar</b> ahora"
            clases="desactivado, btn-oscuro"
            claro={false}
            blank={true}
          >
            <Icon name="mdi:whatsapp" />
          </Btn>
          <!-- <button type="submit" id="empezar" class="desactivado">Empezemos</button> -->
        </form>
      </div>
    </div>
  </div>
</section>
<Footer />

<script>
  const mivideoHome = document.getElementById(
    "video-home-cel"
  ) as HTMLVideoElement;
  const play = document.getElementById("play") as HTMLDivElement;

  play.addEventListener("click", playPause);

  function playPause() {
    if (mivideoHome.paused) mivideoHome.play();
    else mivideoHome.pause();
  }
</script>
