---
export const prerender = true;
import Banner from "../components/Banner.astro";
import Caracteristicas from "../components/Caracteristicas.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Btn from "../components/Btn.astro";
import Footer from "../components/Footer.astro";
import BannerQuince from "../components/BannerQuince.astro"
import BannerGeneral from "../components/BannerGeneral.astro";
import { Icon } from "astro-icon/components";
import Faq from "../components/Faq.astro";
---

<!-- <Layout title="Invitaciones de bodas, 15 a침os, fiestas y eventos digitales."> -->
<Layout
  title="Invitaciones Digitales para Bodas y Quincea침eras | Nvita"
>
  <Hero
    encabezado="<span>Nvita</span>ciones digitales"
    description="<b>Convierte cada celebraci칩n en un recuerdo inolvidable.</b> Personaliza tus invitaciones digitales para bodas, XV a침os y m치s, y crea experiencias 칰nicas que tus invitados nunca olvidar치n. F치cil, r치pido y todo a un clic de distancia."
    fondo="fondo-cover-nviteme-invitaciones-digitales.webp"
  />

  <div class="grid contenido" id="choro">
    <h2>Inicia tu evento con la invitaci칩n perfecta</h2>
    <p>
      Personalizadas y gestiona a tus invitados f치cilmente desde nuestro panel. Registra, edita y env칤a invitaciones por WhatsApp con un clic. Todo lo que necesitas para que tu evento sea inolvidable y sin complicaciones..
    </p>
    <p>
      <b>
        춰Crea hoy tu invitaci칩n digital y sorprende a todos con algo 칰nico y memorable!
      </b>
    </p>
  </div>

  <section class="grid contenido">
  
 

    <BannerGeneral
      encabezado="Cuenta regresiva y confirmaci칩n"
      texto="Tus invitados sabr치n exactamente cuantos d칤as faltan para el evento y desde la invitaci칩n podr치n <b>confirmar su asistencia</b>"
      tema="primario azul"
      icono="mdi:archive-clock-outline"
      urlImagen="../assets/home/gale/confirmacion.webp"
    />

    <BannerGeneral
      encabezado="M칰sica e Informaci칩n en tu invitaci칩n"
      texto="Agrega <b>tu canci칩n favorita</b> y los detalles de tu boda"
      tema="secundario "
      icono="mdi:music"
      izquierda={true}
      urlImagen="../assets/home/gale/musica.webp"
    />

    <BannerGeneral
      encabezado="Frase de amor y galer칤a de fotos"
      texto="D칤 con palabras lo que sientes en una <b>frase animada</b> y muestra hasta 6 fotos de los novios o la quinceara"
      tema="primario"
      icono="mdi:image-plus"
      urlImagen="../assets/home/gale/frase.webp"
    />
    <BannerGeneral
      encabezado="Administra tus invitaciones"
      texto="De manera <b>facil y eficiente</b>, agrega, edita, envia y contrala todo desde el panel de invitados"
      tema="secundario"
      izquierda={true}
      icono="mdi:book-edit"
      urlImagen="../assets/home/gale/panel.webp"
    />



    <div class="flex">
      <div class="cartaBase2">
        <h2>Invitaciones digitales personalizadas para cada invitado</h2>
        <p>
          Haz que tus invitados se sientan especiales desde el primer momento. <b
            >Cada invitaci칩n llevar치 el nombre del invitado o su familia,</b
          > creando una experiencia 칰nica y personal para tu evento."
        </p>
        <img
          id="decor"
          src="/decoracion-muestra-invitacion-digital-nvite.webp"
          alt="decoracion invitacion"
        />
        <img
          src="/muestra-invitacion-digital-nvite-personalizada.webp"
          alt="invitacion personalizada"
        />
      </div>
      <div class="cartaBase2">
        <h2>춰Confirma la asistencia de tus invitados f치cilmente!</h2>
        <p>
          No dejes nada al azar en tu evento especial. <b
            >Tus invitados podr치n confirmar</b
          > su asistencia directamente desde su invitaci칩n digital, d치ndote tranquilidad
          y el control que necesitas para organizar el d칤a perfecto."
        </p>
        <img
          src="/muestra-invitacion-digital-nvite-confirmacion-whatsapp.webp"
          alt="invitacion con confirmaci칩n de asistencia"
        />
      </div>
    </div>
    
    <!-- carcateristicas -->

    <div id="conteCaracteristicas">
      <Caracteristicas
        encabezado="mapas"
        texto="Tus invitados sabr치n exactamente como llegar."
        icono="/ico-nvite-mapa.svg"
        fondo="/fondo-nvite-caracteristicas.png"
      />

      <Caracteristicas
        encabezado="regalos"
        texto="Sugiere que te gustar칤a de regalo."
        icono="/ico-nvite-regalos.svg"
        fondo="/fondo-nvite-caracteristicas-2.png"
      />

      <Caracteristicas
        encabezado="itinerario"
        texto="Lista cada momento importante de tu evento"
        icono="/ico-nvite-detalles.svg"
        fondo="fondo-nvite-caracteristicas-3.png"
      />

      <!-- <Caracteristicas
        encabezado="animac칩n"
        texto="Agrega hasta 6 fotos."
        icono="/ico-nvite-fotos.svg"
        fondo="fondo-nvite-caracteristicas-4.png"
      /> -->
    </div>


  </section>
  <!-- <Galeriaslide /> -->
  <div class="grid contenido">
    <BannerGeneral
      encabezado="Recibes con tu invitaci칩n de <b>Nvita:</b>"
      texto={`
    <ul>
    <li><b>Trato personalizado</b> durante y despues de tu compra</li>
    <li>Recibes tu invitaci칩n, con los datos de tu evento <b> 2 d칤as h치biles</b> despu칠s de tu compra</li>
    <li>
    Acceso a un <b>panel de invitados</b> para tener control total de tus
    invitaciones
    </li>
        <li>Tu invitaci칩n, sin importar la versi칩n, tiene envios ilimitados</li>
        <li>
        Tu invitaci칩n queda en l칤nea <b>hasta 1 mes</b> despu칠s de la fecha de tu
        evento
        </li>
        <li>
        Tu invitaci칩n <b>se ver치 bien en celulares y pantallas</b> de laptops o pc
        </li>
        </ul>
        <small>*Panel de invitados no aplica en la versi칩n "basic"</small>
        <br>
        `}
      tema="secundario"
      icono="mdi:deal"
      urlImagen="../assets/home/gale/recibes.webp"
      margenAbajo={true}
    >
      <Btn
        liga="#formu"
        texto="Obt칠n tu invitaci칩n"
        clases="btn-claro"
        claro={false}
        blank={false}
        >
        <Icon name="bag" size={25} />
        </Btn>
    </BannerGeneral>
  </div>

  <!-- <div class="grid contenido">
    <Recibes />
  </div> -->

  <div id="bodas" class="grid pantalla-der">
    <Banner />
  </div>
  <div id="bodas" class="grid pantalla-izq">
    <BannerQuince />
  </div>

  <section class="grid contenido">
    <div id="conteCaracteristicas">
      <Caracteristicas
        encabezado="1: contacto"
        texto="Resolvemos tus dudas y te guiamos <b>personalmente en el proceso</b>."
        icono="/ico-nvite-recibes.svg"
        fondo="/fondo-nvite-caracteristicas.png"
        colorBg="#FFF1E1"
        ;
      />

      <Caracteristicas
        encabezado="2: pago"
        texto="Paga en <b>  Oxxo o con tu tarjeta bancaria. </b>"
        icono="/ico-nvite-pago.svg"
        fondo="/fondo-nvite-caracteristicas-2.png"
      />

      <Caracteristicas
        encabezado="3: datos"
        texto="<b>Un dise침ador te cont치cta </b> para iniciar con tu invitaci칩n."
        icono="/ico-nvite-datos.svg"
        fondo="fondo-nvite-caracteristicas-3.png"
        colorBg="#FFF1E1"
        ;
      />

      <Caracteristicas
        encabezado="4: entrega"
        texto="Listos para invitar a familia y amigos."
        icono="/ico-nvite-entrega.svg"
        fondo="fondo-nvite-caracteristicas-4.png"
      />
    </div>
  </section>
</Layout>
<div class="grid contenido">
  <Faq />
</div>
<section class="grid contenido">
  <div class="flex">
    <div class="fondo-formu">
      <div class="bande">
        <h2>Obt칠n tu invitaci칩n</h2>
        <p>
          <b>Cont치ctanos</b>, para resolver tus dudas o iniciar el proceso para
          que obtengas tu invitaci칩n.
        </p>
        <small
          >Usa el formulario para hablar con nuestra asistente de <b>whatsapp</b
          ></small
        >
      </div>

      <div id="formu">
        <form>
          <!-- <h3>
          <img src="/whatsapp.png" alt="logo whatsapp">
         <b>whatsapp</b></h3> -->
          <p><b>Aida</b>, nuestra asistente,resolver치 tus dudas 游땕</p>
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" placeholder="Tu nombre" />
          <label for="fecha">Fecha del evento</label>
          <input type="date" name="fecha" id="fecha" />
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="agrega un email valido"
          />
          <!-- <a href="#" id="empezar" class="desactivado"
            ><img src="/whatsapp.png" alt="logo whatsapp" /> Hola <b>Aida</b></a
          > -->
          <Btn
            liga="#"
            id="empezar"
            texto="<b>Hola</b> Aida"
            clases="desactivado, btn-oscuro"
            claro={false}
            blank={true}
          >
          <Icon name="mdi:whatsapp" />
          </Btn>
          <!-- <button type="submit" id="empezar" class="desactivado">Empezemos</button> -->
        </form>
      </div>
    </div>
  </div>
</section>
<Footer />
