---
export const prerender = true;
import { Icon } from "astro-icon/components";
import Btn from "../components/Btn.astro";
import Caracteristicas from "../components/Caracteristicas.astro";
import Herointerior from "../components/Herointerior.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import BannerGeneral from "../components/BannerGeneral.astro";
import Footer from "../components/Footer.astro";
import CaracteristicasGrid from "../components/CaracteristicasGrid.astro";
import Banner from "../components/Banner.astro";
import Ofertashome from "../components/Ofertashome.astro";
import PreciosPdf from "../components/PreciosPdf.astro";
---

<Layout
  title="Invitaciones PDF para XV A침os, Bodas y Cumplea침os, Modernas y Originales - Nvitaciones"
>
  <div class="grid contenido">
    <Nav />
  </div>

  <Herointerior
    Spanh1="<b>Invitaciones PDF</b> "
    h1="Baratas"
    Spanh2="Modernas, Elegantes y Originales"
    description="<b>Impresiona a tus invitados</b>. Dise침a invitaciones en PDF personalizadas y listas para imprimir o enviar digitalmente."
    fondo="#ee6a6a"
    imagen="/Nvitaciones-invitaciones-pdf.webp"
    imagencel="/Nvitaciones-invitaciones-pdf-cel.webp"
    tema="rojo"
  />

  <div class="grid contenido">
    <div id="choro">
      <div id="info">
        <div class="bande">
          <h2>Invitaciones PDF: Elegancia y practicidad en un solo archivo.</h2>
          <p>
            쮺ansado de las invitaciones tradicionales? Con nuestras <b
              >invitaciones en PDF</b
            >, tendr치s dise침os 칰nicos y personalizables que puedes imprimir o
            enviar digitalmente.
          </p>
          <p>
            Ahorra tiempo y dinero mientras sorprendes a tus invitados con
            invitaciones modernas y elegantes. Perfectas para bodas, XV a침os,
            cumplea침os y cualquier evento especial.
          </p>
        </div>
      </div>
      <div id="video-home">
        <div id="play">
          <div class="mostrado">
            <Icon name="mdi:play-circle" size={70} />
          </div>
          <div class="escondido">
            <Icon name="mdi:pause-circle" size={70} />
          </div>
        </div>
        <video
          preload="metadata"
          poster="/video-poster-pdf.webp"
          loop
          id="video-quince-cel"
        >
          <source
            src="https://res.cloudinary.com/dpnzqg5mx/video/upload/v1744217604/PDF-bodas_ogxxe5.mov"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </div>

  <div class="grid contenido">
    <div id="conteCaracteristicas">
      <Caracteristicas
        encabezado="Datos"
        texto="Personaliza las invitaciones con tu informaci칩n."
        icono="mdi:gear"
        fondo="/fondo-nvite-caracteristicas-3.png"
        colorBg="#fff"
      />

      <Caracteristicas
        encabezado="Envia"
        texto="Por whatsapp, correo o redes sociales."
        icono="mdi:send-check"
        fondo="/fondo-nvite-caracteristicas-3.png"
      />

      <Caracteristicas
        encabezado="Recibe"
        texto="Confirmaciones y mensajes de tus invitados."
        icono="mdi:human-hello-variant"
        fondo="/fondo-nvite-caracteristicas-4.png"
        colorBg="#fff"
      />

      <Caracteristicas
        encabezado="Ilimitado"
        texto="Envia a todos tus invitados sin l칤mite."
        icono="mdi:infinity"
        fondo="/fondo-nvite-caracteristicas-2.png"
      />
    </div>
  </div>

  <section class="grid contenido">
    <p class="intro">
      En nvitaciones.com, te ayudamos a crear <b>invitaciones PDF 칰nicas</b>,
      modernas y personalizadas, listas compartir por whhatsapp. No pierdas la
      oportunidad de sorprender con tus invitados.
    </p>
  </section>

  <CaracteristicasGrid
    matriz={[
      {
        imagen: "/pdf-caracteristicas.webp",
        titulo: "Invitaciones <span>economicas</span>",
        texto:
          "Tus invitados recibir치n una invitaci칩n PDF con su nombre y detalles personalizados, incluyendo fecha, hora, ubicaci칩n y m치s.",
        enlace: "#precios",
      },
      {
        imagen: "mdi:whatsapp",
        titulo: "Confirmaci칩n de asistencia",
        texto:
          "Facilita la confirmaci칩n de asistencia con un bot칩n que conecta directamente a WhatsApp.",
        enlace: "#",
      },
      {
        imagen: "mdi:check-circle",
        texto:
          "Incluye enlaces a Google Maps para la recepci칩n y ceremonia, asegurando que tus invitados lleguen sin problemas.",
      },
      {
        imagen: "mdi:infinity-box",
        texto:
          "Toda la informaci칩n de tu evento en un solo lugar: itinerarios, mesa de regalos y m치s.",
      },
      {
        imagen: "mdi:infinity-box",
        texto:
          "Ahorra tiempo y estr칠s con invitaciones listas para compartir digitalmente o imprimir.",
      },
    ]}
  />

  <section class="grid contenido" id="colores">
    <h2><b>Invitaci칩nes PDF</b>, modernas y economicas</h2>
    <p>
      <b>Personaliza</b> tu invitaci칩n con tu foto y los detalles de tu evento.
    </p>
    <div id="bandejacolor">
      <div class="item">
        <h3>Bodas Lux PDF</h3>

        <div class="video-pdf">
          <div id="play">
            <div class="mostrado">
              <Icon name="mdi:play-circle" size={70} />
            </div>
            <div class="escondido">
              <Icon name="mdi:pause-circle" size={70} />
            </div>
          </div>
          <video
            preload="metadata"
            poster="/video-poster-pdf.webp"
            loop
            id="video-quince-cel"
          >
            <source
              src="https://res.cloudinary.com/dpnzqg5mx/video/upload/v1744217604/PDF-bodas_ogxxe5.mov"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="item">
        <h3>Xv a침os Lux PDF</h3>
        <div class="video-pdf">
          <div id="play">
            <div class="mostrado">
              <Icon name="mdi:play-circle" size={70} />
            </div>
            <div class="escondido">
              <Icon name="mdi:pause-circle" size={70} />
            </div>
          </div>
          <video
            preload="metadata"
            poster="/video-poster-pdf-15.webp"
            loop
            id="video-quince-cel"
          >
            <source
              src="https://res.cloudinary.com/dpnzqg5mx/video/upload/v1744217636/PDF-15_v2x4a3.mov"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
      <div class="item">
        <h3>Cumpleanos Lux PDF</h3>
        <div class="video-pdf">
          <div id="play">
            <div class="mostrado">
              <Icon name="mdi:play-circle" size={70} />
            </div>
            <div class="escondido">
              <Icon name="mdi:pause-circle" size={70} />
            </div>
          </div>
          <video
            preload="metadata"
            poster="/video-poster-cumple.webp"
            loop
            id="video-quince-cel"
          >
            <!-- <source
              src="https://res.cloudinary.com/dpnzqg5mx/video/upload/v1744217604/PDF-bodas_ogxxe5.mov"
              type="video/mp4"
            /> -->
          </video>
        </div>
      </div>
      <!-- <div class="item">
        <h3>Verano</h3>
        <img
          src="/otono.webp"
          alt="invitaciones de bodas verano / Nvitaciones.com"
          loading="lazy"
          decoding="async"
        />
      </div> -->
    </div>
  </section>

  <div id="precios" class="grid contenido">
    <PreciosPdf dondeEstoy="quince" />
  </div>

  <div class="grid contenido">
    <BannerGeneral
      encabezado="Recibes con tu <b>Nvitaci칩n PDF</b>"
      texto={`
    <ul>
    <li><b>Trato personalizado</b> durante y despu칠s de tu compra</li>
    <li>Recibes tu Nvitaci칩n PDF, con los datos de tu evento <b> 2 d칤as h치biles</b> despu칠s de tu compra</li>
 
        <li>Tu invitaci칩n, sin importar la versi칩n, <mark>tiene env칤os ilimitados</mark></li>
   
        <li>
        Tu invitaci칩n <b>se ver치 bien en celulares</b>
        </li>
        </ul>
        <small>*Panel de invitados no aplica en la versi칩n "basic o PDF"</small>
        <br>
        `}
      tema="terciario"
      icono="mdi:deal"
      urlImagen="../assets/home/gale/pdf-caracteristicas-2.webp"
      margenAbajo={true}
    >
      <Btn
        liga="#formu"
        texto="Obt칠n tu invitaci칩n"
        clases="btn-oscuro"
        claro={true}
        blank={false}
      >
        <Icon name="bag" size={25} />
      </Btn>
    </BannerGeneral>
  </div>

  <section class="grid contenido">
    <div class="flex">
      <div class="fondo-formu">
        <div class="bande">
          <h2>Obt칠n tu invitaci칩n</h2>
          <p>
            <b>Cont치ctanos</b>, para resolver tus dudas o iniciar el proceso
            para que obtengas tu invitaci칩n.
          </p>
          <small
            >Usa el formulario para hablar con nuestra asistente de <b
              >whatsapp</b
            ></small
          >
        </div>

        <div id="formu">
          <form>
            <!-- <h3>
            <img src="/whatsapp.png" alt="logo whatsapp">
           <b>whatsapp</b></h3> -->
            <p><b>Aida</b>, nuestra asistente,resolver치 tus dudas 游땕</p>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" placeholder="Tu nombre" />
            <label for="fecha">Fecha del evento</label>
            <input type="date" name="fecha" id="fecha" />
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="agrega un email valido"
            />
            <!-- <a href="#" id="empezar" class="desactivado"
              ><img src="/whatsapp.png" alt="logo whatsapp" /> Hola <b>Aida</b></a
            > -->
            <Btn
              liga="#"
              id="empezar"
              texto="<b>Hola</b> Aida"
              clases="desactivado, btn-oscuro"
              claro={false}
              blank={true}
            >
              <Icon name="mdi:whatsapp" />
            </Btn>
            <!-- <button type="submit" id="empezar" class="desactivado">Empezemos</button> -->
          </form>
        </div>
      </div>
    </div>
  </section>

  <Footer />
</Layout>

<style lang="scss">
  @use "../estilos/_variables.scss" as *;

  .intro {
    line-height: 1.1em;
    text-align: center;
    font-size: clamp(1.3rem, 1.7vw, 2.7rem);
    margin: $margen $margen-min;
  }
  #colores {
    padding-top: $margen;
    text-align: center;
    padding-bottom: $margen;
    h2 {
      color: $primario;
      b {
        color: $acento;
      }
    }
  }
  #bandejacolor {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); // Ajustar el tama침o m칤nimo y m치ximo de los videos
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: $margen-cel;

    .mostrando {
      display: block;
    }
    .escondido {
      display: none;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: $margen;
      h3 {
        color: $primario;
        font-size: clamp(1.5rem, 1.5vw, 1.6rem);
      }

      .video-pdf {
        width: 100%;
        aspect-ratio: 16 / 9; // Mantener proporci칩n de video
        position: relative;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover; // Asegurar que el video se ajuste al contenedor
          border-radius: $radio;
        }

        #play {
          position: absolute;
          top: 50%;
          left: 10%;
          transform: translate(-50%, -50%);
          z-index: 1000;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1em;
          @extend .sombra;
          border-radius: 50%;
          aspect-ratio: 1/1;
          cursor: pointer;
          path {
            fill: $acento;
          }
        }
      }

      @include cel {
        padding: 0;
        h3 {
          margin-top: $margen-cel;
        }
      }

    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const items = document.querySelectorAll("#bandejacolor .item");

    items.forEach((item) => {
      const video = item.querySelector("video") as HTMLVideoElement;
      const playButton = item.querySelector("#play") as HTMLElement;
      const mostrando = playButton.querySelector(".mostrado") as HTMLElement;
      const escondido = playButton.querySelector(".escondido") as HTMLElement;

      playButton.addEventListener("click", () => {
        if (video.paused) {
          video.play();
          mostrando.style.display = "none"; // Esconder el 칤cono de play
          escondido.style.display = "flex"; // Mostrar el 칤cono de pausa
        } else {
          video.pause();
          mostrando.style.display = "flex"; // Mostrar el 칤cono de play
          escondido.style.display = "none"; // Esconder el 칤cono de pausa
        }
      });

      video.addEventListener("ended", () => {
        mostrando.style.display = "flex"; // Restaurar el 칤cono de play al finalizar
        escondido.style.display = "none"; // Esconder el 칤cono de pausa
      });
    });

    // Hacer que funcione el bot칩n de play/pausa en el div #choro
    const choroPlayButton = document.querySelector(
      "#video-home #play"
    ) as HTMLElement;
    const choroVideo = document.querySelector(
      "#video-home video"
    ) as HTMLVideoElement;
    const choroMostrando = choroPlayButton.querySelector(
      ".mostrado"
    ) as HTMLElement;
    const choroEscondido = choroPlayButton.querySelector(
      ".escondido"
    ) as HTMLElement;

    choroPlayButton.addEventListener("click", () => {
      if (choroVideo.paused) {
        choroVideo.play();
        choroMostrando.style.display = "none"; // Esconder el 칤cono de play
        choroEscondido.style.display = "flex"; // Mostrar el 칤cono de pausa
      } else {
        choroVideo.pause();
        choroMostrando.style.display = "flex"; // Mostrar el 칤cono de play
        choroEscondido.style.display = "none"; // Esconder el 칤cono de pausa
      }
    });

    choroVideo.addEventListener("ended", () => {
      choroMostrando.style.display = "flex"; // Restaurar el 칤cono de play al finalizar
      choroEscondido.style.display = "none"; // Esconder el 칤cono de pausa
    });
  });
</script>
