---
interface Theme {
  name?: string;
  colors?: {
    primary?: string;
    secondary?: string;
    accent?: string;
    background?: string;
    text?: string;
  };
  typography?: {
    heading?: string;
    body?: string;
  };
}

interface Props {
  title: string;
  url?: string;
  cover?: string;
  paleta?: string;
  theme?: Theme;
}
const { title, url, paleta, cover, theme } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// const portadaOG = `https://nvitaciones.com${cover}`;
// const portadaOG = cover;
const portadaOG = cover ? `${cover.split('?')[0]}?v=${new Date().getTime()}` : '';
const { name, colors, typography } = theme;


import "../../estilos/bodas/redireccion.scss";

---

<!doctype html>
<html lang="es"  data-paleta={paleta} data-theme={name}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content=`Encuentra el diseño perfecto para tus invitaciones de bodas digitales. Personaliza cada detalle, gestiona tus invitados y confirma asistencia fácilmente con Nvitaciones. ¡Descubre nuestros diseños!`
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={`/favicon.svg`} />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta property="og:locale" content="es_MX" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content=`${title} - Invitación digital nvitaciones.com`
    />
    <meta
      property="og:description"
      content=`Esperamos tu asistencia, estaremos felices de celebrar juntos / ${title}`
    />
    <meta property="og:url" content={url} />
    <meta
      property="og:site_name"
      content="nvitaciones.com invitaciones de bodas digitales"
    />
    <meta property="og:image" content={portadaOG} />
    <meta property="og:image:width" content="900" />
    <meta property="og:image:height" content="900" />
    <meta property="og:image:type" content="image/webp" />
    <meta name="twitter:card" content="summary_large_image" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Invitaciones Digitales - Nvitaciones",
        "url": "https://www.nvitaciones.com",
        "logo": "https://www.nvitaciones.com/nvita-logo.svg",
        "sameAs": [
          "https://www.facebook.com/nvitaciones",
          "https://www.instagram.com/nvitaciones"
        ],
        "description": "¡Que tu celebración sea inolvidable!, transforma las invitaciones de tu evento en una experiencia única con las invitaciones digitales de nvitaciones.com",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "México",
          "addressCountry": "MX"
        },
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+5217551132468",
          "contactType": "customer service"
        }
      }
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>
