---
import { Icon } from "astro-icon/components";
import Btn from "./Btn.astro";
---

<div class="banner azulBG">
  <div class="der">
    <div class="bande">
     
      
      <div class="lista">
        <small>Bodas & XV Años</small>
        <h2>Nvita Basic</h2>
        <div class="precio">$740</div>
        <ul>
          <li>Detalles del evento</li>
          <li>Cuenta regresiva</li>
          <li>Datos de tu evento</li>
          <li>Mapas de ubicación</li>
          <li>Frase animada</li>
          <li>Formulario <b>sencillo</b> de confirmación </li>
        </ul>
        <div class="conteBtn">

          <Btn
          liga="/bodas/nvita-bodas-basic"
          clases="btn-claro"
          texto="Ver Bodas"
          claro={true}
          />
          <Btn
          liga="/quince/nvita-quince-basic"
          clases="btn-claro"
          texto="Ver Xv Añós"
          claro={true}
          />
        </div>
     
        <Btn
          liga="https://buy.stripe.com/9AQ5mBdIwaY374s6os"
          clases="btn-oscuro"
          texto="Obtenla ahora"
          claro={false}
        >
        <Icon name="bag" size={25} />
        </Btn>
      </div>

      
      <div class="lista">
        <small>Bodas & XV Años</small>
        <h2>Nvita Regular</h2>
        <div class="precio">$990</div>
        <ul>
          <li><b>Panel de invitados</b></li>
          <li><b>Nombre del invitado</b></li>
          <li><b>Pases del invitado</b></li>
          <li><b>Galería de imágenes</b></li>
          <li><b>Sugerencia de regalos</b></li>
          <li>Detalles del evento</li>
          <li>Cuenta regresiva</li>
          <li>Datos de tu evento</li>
          <li>Mapas de ubicación</li>
          <li>Frase animada</li>
          <li>Formulario de confirmación</li>
        </ul>
        <div class="conteBtn">

          <Btn
          liga="/bodas/nvita-bodas-reg?id=1&uid=1"
          clases="btn-claro"
          texto="Ver Bodas"
          claro={true}
          />
          <Btn
          liga="/quince/nvita-quince-reg?id=1&uid=1"
          clases="btn-claro"
          texto="Ver Xv Años"
          claro={true}
          />
        </div>
        
        <Btn
        liga="https://buy.stripe.com/7sIbKZfQE5DJ1K8eUX"
        clases="btn-oscuro"
        texto="Obtenla ahora"
        claro={false}
        >
        <Icon name="bag" size={25} />
        </Btn>
      </div>
      
      <div class="lista">
        <small>Bodas & XV Años</small>
        <h2>Nvita Plus</h2>
        <div class="precio">$1290</div>
        <ul>
          <li><b>Panel de invitados</b></li>
          <li><b>Música ambiental</b></li>
          <li><b>Itinerario</b></li>
          <li><b>Nombre del invitado</b></li>
          <li><b>Pases del invitado</b></li>
          <li><b>Galería de imágenes</b></li>
          <li><b>Sugerencia de regalos</b></li>
          <li>Detalles del evento</li>
          <li>Cuenta regresiva</li>
          <li>Datos de tu evento</li>
          <li>Mapas de ubicación</li>
          <li>Frase animada</li>
          <li>Formulario de confirmación</li>
        </ul>
        <div class="conteBtn">

          <Btn
          liga="/bodas/nvita-bodas-plus?id=1&uid=1"
          clases="btn-claro"
          texto="Ver Bodas"
          claro={true}
          />
          <Btn
          liga="/quince/nvita-quince-plus?id=1&uid=1"
          clases="btn-claro"
          texto="Ver Xv Años"
          claro={true}
          />
        </div>

        <Btn
        liga="https://buy.stripe.com/5kA8yN0VK2rxgF27su"
        clases="btn-oscuro"
        texto="Obtenla ahora"
        claro={false}
        >
        <Icon name="bag" size={25} />
        </Btn>
      </div>

    </div>
  </div>
  <div class="izq">
    <img
      src="novios-cover-invitacion-digital-nvite.webp"
      alt="Invitaciones de bodas"
    />
  </div>
</div>
<style lang="scss">
  @import "../estilos/_variables.scss";
  h2 {
    color: $acento;
    font-size: clamp(2.2rem, 1.5vw, 2.7vw);
  }
small{
  color: $gris;
}
b{
  color: $primario;
  text-decoration: underline;
text-underline-offset: 5px;
text-decoration-thickness: .9px;
}
.precio{
  display:inline-block;
  padding-bottom: 1rem;
  border-bottom: solid 1px $terciario;
  font-weight: bolder;
  color: $primario;
  font-size: clamp(1.9rem, 1.7vw, 3vw);
}
  .banner {
    display: flex;
    flex-wrap: wrap;
  }
  .der,
  .izq {
    display: flex;
    justify-content: center;
    @include cel {
      flex: 1 0 100%;
    }
  }
  .der {
    flex: 1 0 70%;
    @tableta_land{
      flex: 1 0 80%;
      
    }
  }
  .izq {
    flex: 1 0 30%;
    width: 100px;
    align-items: end;
    @tableta_land{
      flex: 1 0 20%;
      
    }
  }
  .bande {
    margin: $margen 0;
    display: flex;
    flex-wrap: wrap;
   
  }
  .lista {
    min-width: min-content;
    flex: 1;
    border-right: solid 1px $primario;
    padding: 0 1.5rem;
    a{
     align-self: auto;
     justify-self: flex-start;
     svg{
            vertical-align: middle;
        }
    }
    &:last-child {
      border: none;
    }
    @include cel {
      border-right: none;
      border-bottom: solid 1px $primario;
      padding: 2rem 1.5rem;
  }
}
.conteBtn{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}
.conteBtn > * {
  min-width: fit-content;
  text-align: center;
  flex: 1;
}
  ul {
    padding: 1rem 0;
  }
  @include cel {
    .izq,
    .der {
      flex: 1 0 100%;
    }
  }
</style>
