---
import Btn from "./Btn.astro";
---

<div class="banner azulBG">
  <div class="der">
    <div class="bande">
      <div class="lista">
        <h2>Nvita Plus</h2>
        <ul>
          <li><b>Panel de invitados</b></li>
          <li>Música ambiental</li>
          <li><b>Nombre del invitado</b></li>
          <li>Detalles del evento</li>
          <li>Cuenta regresiva</li>
          <li>Datos de tu evento</li>
          <li>Mapas de ubicación</li>
          <li>Galería de imágenes</li>
          <li>Sugerencia de regalos</li>
          <li>Frase animada</li>
          <li><b>Itinerario</b></li>
          <li>Formulario de confirmación</li>
        </ul>
        <Btn
        liga="https://buy.stripe.com/00g4ix9sg7LRbkI7ss"
        texto="$1290"
        claro={false}
        />
        <Btn
        liga="/bodas/nvita-plus"
        texto="Ver invitacion"
        claro={true}
        />
      </div>
      
      
      <div class="lista">
        <h2>Nvita</h2>
        <ul>
          <li><b>Panel de invitados</b></li>
          <li><b>Nombre del invitado</b></li>
          <li>Detalles del evento</li>
          <li>Cuenta regresiva</li>
          <li>Datos de tu evento</li>
          <li>Mapas de ubicación</li>
          <li>Galería de imágenes</li>
          <li>Sugerencia de regalos</li>
          <li>Frase animada</li>
          <li>Formulario de confirmación</li>
        </ul>
        <Btn
          liga="https://buy.stripe.com/00g4ix9sg7LRbkI7ss"
          texto="$990"
          claro={false}
        />
        <Btn
          liga="/bodas/nvita-bodas"
          texto="Ver invitacion"
          claro={true}
        />
      </div>

      <div class="lista">
        <h2>Nvita</h2>
        <ul>
          <li>Detalles del evento</li>
          <li>Cuenta regresiva</li>
          <li>Datos de tu evento</li>
          <li>Mapas de ubicación</li>
          <li>Frase animada</li>
          <li>Formulario de confirmación sencilla</li>
        </ul>
        <Btn
          liga="https://buy.stripe.com/00g4ix9sg7LRbkI7ss"
          texto="$740"
          claro={false}
        />
        <Btn
          liga="/bodas/nvita-basic"
          texto="Ver invitacion"
          claro={true}
        />
      </div>

      <!-- <Btn liga="/bodas/nvite-bodas-1?id=2" texto="Ver invitacion de boda 1" claro={true} />
      <Btn liga="/bodas/nvite-bodas-2?id=2" texto="Ver invitacion de boda 2" claro={true} />
      <Btn liga="https://buy.stripe.com/00g4ix9sg7LRbkI7ss" texto="comprar $1490" claro={false} blank={true} /> -->
    </div>
  </div>
  <div class="izq">
    <img
      src="novios-cover-invitacion-digital-nvite.webp"
      alt="Invitaciones de bodas"
    />
  </div>
</div>
<style lang="scss">
  @import "../estilos/_variables.scss";
  h2 {
    color: $acento;
  }

  .banner {
    display: flex;
    flex-wrap: wrap;
  }
  .der,
  .izq {
    display: flex;
    justify-content: center;
    @include cel {
      flex: 1 0 100%;
    }
  }
  .der {
    flex: 1 0 70%;
    @tableta_land{
      flex: 1 0 80%;
      
    }
  }
  .izq {
    flex: 1 0 30%;
    width: 100px;
    align-items: end;
    @tableta_land{
      flex: 1 0 20%;
      
    }
  }
  .bande {

    margin: $margen 0;
    display: flex;
    flex-wrap: wrap;

    gap: 1.5rem
  }
  .lista {
    &:last-child {
      border: none;
    }

    border-right: solid 1px $primario;
    padding: 1rem;
    @include cel {
      border-right: none;
      border-bottom: solid 1px $primario;
  }
}
  ul {
    padding: 1rem 0;
  }
  @include cel {
    .izq,
    .der {
      flex: 1 0 100%;
    }
  }
</style>
