---
import { Icon } from 'astro-icon/components';

interface Props {
  liga: string;
  texto: string;
  claro: boolean;
  blank?: boolean;
  clases?: string;
  id?: string;
  rel?: string;
  icono?: string;
}
const { liga, texto, claro, blank, clases, rel, icono, ...rest } = Astro.props;
---

<a
  href={liga}
  class:list={clases}
  target={blank ? "_blank" : ""}
  {...rest}
  rel={rel}
  set:html={texto}
>

  {icono ? (
    <Icon name={icono} size={25} />
  ) : (
    ""
  )}
  <slot />
</a>

<style lang="scss">
  @use "../estilos/_variables.scss" as *;
  @mixin btn {
    padding: 8px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 0 $margen-min 0;
    border: none;
    font-weight: 600;
    white-space: nowrap;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    @include cel {
      margin-top: $margen-min;
    }
  }
  .btn-claro {
    background-color: $primario;
    color: $fondoGlobal;
    @include btn;
  }
  .btn-oscuro {
    background-color: $acento;
    color: white;
    @include btn;
  }
  .btn-bordes {
    border: 1px solid $secundario !important;
    color: $secundario;
    @include btn;
  }
  .btn-ver-nvitaciones {
    background: linear-gradient(178deg, $fondoGlobal, $secundario);
    border: 1px solid $secundario !important;
    color: $primario;
    justify-content: left!important;
    @include btn;
    @extend .sombra;
  }
</style>
