---
import { Icon } from 'astro-icon/components';

interface Props {
  encabezado: string;
  texto: string;
  icono: string;
  fondo?: string;
  colorBg?: string;
}
const { encabezado, texto, icono, fondo } = Astro.props;
let{ colorBg } = Astro.props
const url = `url("${fondo}")`
colorBg ? colorBg : colorBg = "#ffd9b0";
---


  <div class="carcateristicas">
      <div class="icono">
      <Icon name={icono} size={45} color="#656a8d"/>
        <!-- <img src={icono} alt={encabezado}  /> -->
      </div>
    <div class="conte">
      <h3>{encabezado}</h3>
      <p set:html={texto}></p>
    </div>
  </div>


<!-- buscare en globales  -->
<style define:vars={{url, colorBg}} lang="scss">     
@use "../estilos/_variables.scss" as *;

.carcateristicas{
    /* background: url("/fondo-nvite-caracteristicas.png") no-repeat #fceedf; */
    background: var(--url) no-repeat var(--colorBg);
}

.icono{
  :global(svg){
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    color: $primario!important;
  }
}
</style>
