---
import { NvitaAuth } from "../../firebase/config";
import Layout from "../../layouts/panelInvitados.astro";

const usuario = NvitaAuth.currentUser?.uid;
const usuarioEmail = NvitaAuth.currentUser?.email;

let invitadosData = [];

try {
  const request = await fetch(`${Astro.url.origin}/api/getInvitados.json`);
  if (request.ok) {
    invitadosData = await request.json();
  } else {
    throw new Error("No se encontraron invitados.");
  }
} catch (error) {
  invitadosData = null; // Maneja el caso de error estableciendo invitadosData en null
}

import Invitado from "../../components/PanelInvitados/Invitado.astro";
import type {InvitadoProps} from "../../components/PanelInvitados/Invitado.astro";
import Dialog from "../../components/PanelInvitados/Dialog.astro";
---

<Layout title="Panel de administración">
    <h2>
        {usuario && <p>Bienvenido {usuarioEmail}</p>}
    </h2>

    <ul>
        <!-- <Invitado invitadoData={invitadosData[0]} /> -->
        <ul>
            {invitadosData && invitadosData.length > 0 ? (
              invitadosData.map((invi: InvitadoProps) => (
                <li><Invitado invitadoData={invi} /></li>
              ))
            ) : (
              <h3>Ocurrio un error</h3>
            )}
          </ul>
    </ul>

    {
        invitadosData && invitadosData.length > 0 ? (

            <button id="agregar-invitado">Agregar invitado</button>
            <Dialog /> 
        ):(
            <p>Contacta a los administradores para podre agregar invitados</p>
        )
    }

<li>UI</li>
<li>Mostrar invitados, formulario de agregarlos con un icono +</li>
<li>Cada invitado con icono de editar y borrar</li>
<li>Cada invitado deberá poder confirmar desde la invitacion </li>
<li>Cada usurio de invitación podrá tambien editar estatus de confirmación</li>
</Layout>