---
interface Props {
  mamaNovia?: string;
  papaNovia?: string;
  mamaNovio?: string;
  papaNovio?: string;
  fotopapasNovia?: string;
  fotopapasNovio?: string;
  labels?: {
    ourParents?: string;
    bride?: string;
    groom?: string;
  };
}

const {
  mamaNovia,
  papaNovia,
  mamaNovio,
  papaNovio,
  fotopapasNovia,
  fotopapasNovio,
  labels = {},
} = Astro.props;

const l = {
  ourParents: labels.ourParents || "Nuestros Padres",
  bride: labels.bride || "Novia",
  groom: labels.groom || "Novio",
};
---

<div id="padres">
  <div class="bande">
    <h2>{l.ourParents}</h2>
    <div class="conte">
      <ul class="padre">
        {
          fotopapasNovia ? (
            <div class="padreImg">
              <img src={fotopapasNovia} alt="Foto de los padres de la novia" />
            </div>
          ) : (
            ""
          )
        }

        <h3>{l.bride}</h3>
        <li>{mamaNovia}</li>
        <li>{papaNovia}</li>
      </ul>
      <ul class="padre">
        {
          fotopapasNovio ? (
            <div class="padreImg">
              <img src={fotopapasNovio} alt="Foto de los padres del novio" />
            </div>
          ) : (
            ""
          )
        }

        <h3>{l.groom}</h3>
        <li>{mamaNovio}</li>
        <li>{papaNovio}</li>
      </ul>
    </div>
  </div>
</div>
