---
const { id } = Astro.params;

// import BaseLayout from "@/layouts/BaseLayout.astro";
import { getProductPrice } from "../../js/cart";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import Btn from "../../components/Btn.astro";

const product = await getEntry("productos", id as string);

if (!product) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

const price = await getProductPrice(product);
---

<Layout
  title="Invitaciones PDF para XV Años, Bodas y Cumpleaños, ERROR 404 - Nvitaciones"
>
  <div class="grid contenido">
    <Nav />

    <div class="product-container">
      <Image
        src={product.data.images[0]}
        loading="eager"
        alt={product.data.name}
        height={450}
        width={450}
      />
      <div class="grid-md">
        <div class="grid-sm">
          <h1>{product.data.name}</h1>
          <p>{product.data.description}</p>
        </div>
        <div class="grid-sm">
          <p class="price">{price}</p>
     

          <Btn
            data-cart
            data-action="increment"
            data-productid={product.data.id}
            liga="#"
            texto="Agregar al carrito"
            clases="btn-oscuro" 
            claro={false}
            icono="mdi:cart"
          />
        </div>
      </div>
    </div>

    <Footer />
  </div>
</Layout>
